<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> VUEJS – REST API - Mysql </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <div  id="principal" class="row">
        <div class="col s6">
            
            <table>
                <input v-model="id_busqueda" placeholder="Ingrese Id Factura" type="text" class="col s4" >
                <button v-on:click="buscarFactura()" class="btn" ><i class="material-icons">find_in_page</i> BUSCAR FACTURA POR ID</button>
                <button v-on:click="listarFacturas()" class="btn red">Ver Facturas</button>                
                <tr>
                    <th>Id Factura</th>
                    <th>Nombre Producto</th>
                    <th>Nombre Cliente</th>
                    <th>IVA</th>
                    <th>Cantidad</th>
                    <th>SubTotal</th>
                    <th>Total</th>
                    <th>Forma de Pago</th>
                    <th>Acción</th>
                </tr>
                <tr v-for="factura of lista_facturas">
                    <td>{{ factura.id_factura }}</td>
                    <td>{{ factura.nombre_producto }}</td>
                    <td>{{ factura.nombre_cliente }}</td>
                    <td>{{ factura.IVA }} % </td>
                    <td>{{ factura.cantidad }}</td>
                    <td> $ {{ factura.subtotal }}</td>
                    <td> $ {{ factura.total }}</td>
                    <td>{{ factura.forma_pago }}</td>
                   <td> 
                       <a class="btn-floating btn-small waves-effect waves-light red" v-on:click="eliminarFactura(factura.id_factura)"><i class="material-icons">delete</i></a>
                       <a class="btn-floating btn-small waves-effect waves-light blue" v-on:click="editarFactura(factura.id_factura,factura.nombre_producto,factura.nombre_cliente,factura.cantidad,factura.subtotal,factura.forma_pago)"><i class="material-icons">mode_edit</i></a>
                    </td> 
                
                    </td>                 

                </tr>     
            </table>    
        </div>
        <div class="col s6">
            <div class="row">
                    <div class="input-field col s6">
                        <input v-model="nombre_producto" type="text" placeholder="Ingrese nombre del producto">
                        <label>Nombre del Producto</label>
                    </div>
                    <div class="input-field col s6">
                        <input v-model="nombre_cliente" type="text" placeholder="Ingrese Cliente">
                        <label> <i class="material-icons">account_circle</i> Nombre y Apellido</label>
                    </div>
            </div>
            <div class="row">

                    <div class="input-field col s6">
                        <input v-model="IVA" type="text" placeholder="IVA 21%">
                        <label>IVA 21%</label>
                    </div>
                    <div class="input-field col s6">
                        <input v-model="cantidad" type="number" placeholder="Ingrese Cantidad">
                        <label> <i class="material-icons">add_shopping_cart</i> Cantidad</label>
                    </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input v-model="subtotal" type="text" placeholder="Ingrese Subtotal">
                    <label><i class="material-icons">attach_money</i> Subtotal</label>
                </div>
                <!-- <div class="input-field col s6">
                    <input v-model="forma_pago" type="text" placeholder="Ingrese forma de pago" >
                    
                    <label>Forma de Pago: <i class="material-icons">attach_money</i> <i class="material-icons">credit_card</i></label>
                    
                </div> -->
                <div class="input-field col s6">

                    <label></label>
                        <select v-model="forma_pago" class="browser-default">
                            <option value="" disabled selected>Forma de Pago</option>
                            <option value="Efectivo">Efectivo</option>
                            <option value="Tarjeta">Tarjeta</option>
                           
                        </select>
                    
                  </div>

            </div>
            <div class="row">
                <div class="col s6">
                    <label><i class="material-icons">attach_money</i> Total </label>
                    <p> {{ calculoiva }}</p>
                    
                    <!-- <input  v-model="total" type="number"  disabled> -->
                   
                </div>
                                        
            </div>
            <div>
                <div class="row">
                    <div class="col s12">
                        <button v-on:click="guardarFactura()" class="btn">Guardar Factura</button>
                        <button v-on:click="actualizarFactura()" class="btn orange" >Actualizar Factura</button>                      
                    </div>
                    
                    
                </div>  
            </div>

        </div>
            
    </div>
    

        
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="index.js"></script>
</body>
</html>